/* GRID */
.grid {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto 0 auto;
  align-items: stretch; }
  .grid.grid-no-spacing {
    padding: 0; }

.grid-cell {
  box-sizing: border-box; }
  .grid-cell.on-top {
    align-self: flex-start; }
  .grid-cell.on-middle {
    align-self: center; }
  .grid-cell.on-bottom {
    align-self: flex-end; }
  .grid-cell.is-stretched {
    height: auto;
    align-self: stretch; }

.grid.grid-no-spacing > .grid-cell {
  margin: 0; }

.cell-order-1 {
  order: 1; }

.cell-order-2 {
  order: 2; }

.cell-order-3 {
  order: 3; }

.cell-order-4 {
  order: 4; }

.cell-order-5 {
  order: 5; }

.cell-order-6 {
  order: 6; }

.cell-order-7 {
  order: 7; }

.cell-order-8 {
  order: 8; }

.cell-order-9 {
  order: 9; }

.cell-order-10 {
  order: 10; }

.cell-order-11 {
  order: 11; }

.cell-order-12 {
  order: 12; }

@media (max-width: 479px) {
  .grid {
    padding: 8px; }
  .grid-cell {
    margin: 8px;
    width: calc(100% - 16px); }
    .grid-no-spacing > .grid-cell {
      width: 100%; }
  .hide-on-phone {
    display: none !important; }
  .cell-order-on-phone-1.cell-order-on-phone-1 {
    order: 1; }
  .cell-order-on-phone-2.cell-order-on-phone-2 {
    order: 2; }
  .cell-order-on-phone-3.cell-order-on-phone-3 {
    order: 3; }
  .cell-order-on-phone-4.cell-order-on-phone-4 {
    order: 4; }
  .cell-order-on-phone-5.cell-order-on-phone-5 {
    order: 5; }
  .cell-order-on-phone-6.cell-order-on-phone-6 {
    order: 6; }
  .cell-order-on-phone-7.cell-order-on-phone-7 {
    order: 7; }
  .cell-order-on-phone-8.cell-order-on-phone-8 {
    order: 8; }
  .cell-order-on-phone-9.cell-order-on-phone-9 {
    order: 9; }
  .cell-order-on-phone-10.cell-order-on-phone-10 {
    order: 10; }
  .cell-order-on-phone-11.cell-order-on-phone-11 {
    order: 11; }
  .cell-order-on-phone-12.cell-order-on-phone-12 {
    order: 12; }
  .cell-1-col,
  .cell-1-col-phone.cell-1-col-phone {
    width: calc(25% - 16px); }
    .grid-no-spacing > .cell-1-col, .grid-no-spacing >
    .cell-1-col-phone.cell-1-col-phone {
      width: 25%; }
  .cell-2-col,
  .cell-2-col-phone.cell-2-col-phone {
    width: calc(50% - 16px); }
    .grid-no-spacing > .cell-2-col, .grid-no-spacing >
    .cell-2-col-phone.cell-2-col-phone {
      width: 50%; }
  .cell-3-col,
  .cell-3-col-phone.cell-3-col-phone {
    width: calc(75% - 16px); }
    .grid-no-spacing > .cell-3-col, .grid-no-spacing >
    .cell-3-col-phone.cell-3-col-phone {
      width: 75%; }
  .cell-4-col,
  .cell-4-col-phone.cell-4-col-phone {
    width: calc(100% - 16px); }
    .grid-no-spacing > .cell-4-col, .grid-no-spacing >
    .cell-4-col-phone.cell-4-col-phone {
      width: 100%; }
  .cell-5-col,
  .cell-5-col-phone.cell-5-col-phone {
    width: calc(100% - 16px); }
    .grid-no-spacing > .cell-5-col, .grid-no-spacing >
    .cell-5-col-phone.cell-5-col-phone {
      width: 100%; }
  .cell-6-col,
  .cell-6-col-phone.cell-6-col-phone {
    width: calc(100% - 16px); }
    .grid-no-spacing > .cell-6-col, .grid-no-spacing >
    .cell-6-col-phone.cell-6-col-phone {
      width: 100%; }
  .cell-7-col,
  .cell-7-col-phone.cell-7-col-phone {
    width: calc(100% - 16px); }
    .grid-no-spacing > .cell-7-col, .grid-no-spacing >
    .cell-7-col-phone.cell-7-col-phone {
      width: 100%; }
  .cell-8-col,
  .cell-8-col-phone.cell-8-col-phone {
    width: calc(100% - 16px); }
    .grid-no-spacing > .cell-8-col, .grid-no-spacing >
    .cell-8-col-phone.cell-8-col-phone {
      width: 100%; }
  .cell-9-col,
  .cell-9-col-phone.cell-9-col-phone {
    width: calc(100% - 16px); }
    .grid-no-spacing > .cell-9-col, .grid-no-spacing >
    .cell-9-col-phone.cell-9-col-phone {
      width: 100%; }
  .cell-10-col,
  .cell-10-col-phone.cell-10-col-phone {
    width: calc(100% - 16px); }
    .grid-no-spacing > .cell-10-col, .grid-no-spacing >
    .cell-10-col-phone.cell-10-col-phone {
      width: 100%; }
  .cell-11-col,
  .cell-11-col-phone.cell-11-col-phone {
    width: calc(100% - 16px); }
    .grid-no-spacing > .cell-11-col, .grid-no-spacing >
    .cell-11-col-phone.cell-11-col-phone {
      width: 100%; }
  .cell-12-col,
  .cell-12-col-phone.cell-12-col-phone {
    width: calc(100% - 16px); }
    .grid-no-spacing > .cell-12-col, .grid-no-spacing >
    .cell-12-col-phone.cell-12-col-phone {
      width: 100%; }
  .cell-1-offset,
  .cell-1-offset-phone.cell-1-offset-phone {
    margin-left: calc(25% + 8px); }
    .grid.grid-no-spacing > .cell-1-offset, .grid.grid-no-spacing >
    .cell-1-offset-phone.cell-1-offset-phone {
      margin-left: 25%; }
  .cell-2-offset,
  .cell-2-offset-phone.cell-2-offset-phone {
    margin-left: calc(50% + 8px); }
    .grid.grid-no-spacing > .cell-2-offset, .grid.grid-no-spacing >
    .cell-2-offset-phone.cell-2-offset-phone {
      margin-left: 50%; }
  .cell-3-offset,
  .cell-3-offset-phone.cell-3-offset-phone {
    margin-left: calc(75% + 8px); }
    .grid.grid-no-spacing > .cell-3-offset, .grid.grid-no-spacing >
    .cell-3-offset-phone.cell-3-offset-phone {
      margin-left: 75%; } }

@media (min-width: 480px) and (max-width: 839px) {
  .grid {
    padding: 8px; }
  .grid-cell {
    margin: 8px;
    width: calc(50% - 16px); }
    .grid-no-spacing > .grid-cell {
      width: 50%; }
  .hide-on-tablet {
    display: none !important; }
  .cell-order-on-tablet-1.cell-order-on-tablet-1 {
    order: 1; }
  .cell-order-on-tablet-2.cell-order-on-tablet-2 {
    order: 2; }
  .cell-order-on-tablet-3.cell-order-on-tablet-3 {
    order: 3; }
  .cell-order-on-tablet-4.cell-order-on-tablet-4 {
    order: 4; }
  .cell-order-on-tablet-5.cell-order-on-tablet-5 {
    order: 5; }
  .cell-order-on-tablet-6.cell-order-on-tablet-6 {
    order: 6; }
  .cell-order-on-tablet-7.cell-order-on-tablet-7 {
    order: 7; }
  .cell-order-on-tablet-8.cell-order-on-tablet-8 {
    order: 8; }
  .cell-order-on-tablet-9.cell-order-on-tablet-9 {
    order: 9; }
  .cell-order-on-tablet-10.cell-order-on-tablet-10 {
    order: 10; }
  .cell-order-on-tablet-11.cell-order-on-tablet-11 {
    order: 11; }
  .cell-order-on-tablet-12.cell-order-on-tablet-12 {
    order: 12; }
  .cell-1-col,
  .cell-1-col-tablet.cell-1-col-tablet {
    width: calc(12.5% - 16px); }
    .grid-no-spacing > .cell-1-col, .grid-no-spacing >
    .cell-1-col-tablet.cell-1-col-tablet {
      width: 12.5%; }
  .cell-2-col,
  .cell-2-col-tablet.cell-2-col-tablet {
    width: calc(25% - 16px); }
    .grid-no-spacing > .cell-2-col, .grid-no-spacing >
    .cell-2-col-tablet.cell-2-col-tablet {
      width: 25%; }
  .cell-3-col,
  .cell-3-col-tablet.cell-3-col-tablet {
    width: calc(37.5% - 16px); }
    .grid-no-spacing > .cell-3-col, .grid-no-spacing >
    .cell-3-col-tablet.cell-3-col-tablet {
      width: 37.5%; }
  .cell-4-col,
  .cell-4-col-tablet.cell-4-col-tablet {
    width: calc(50% - 16px); }
    .grid-no-spacing > .cell-4-col, .grid-no-spacing >
    .cell-4-col-tablet.cell-4-col-tablet {
      width: 50%; }
  .cell-5-col,
  .cell-5-col-tablet.cell-5-col-tablet {
    width: calc(62.5% - 16px); }
    .grid-no-spacing > .cell-5-col, .grid-no-spacing >
    .cell-5-col-tablet.cell-5-col-tablet {
      width: 62.5%; }
  .cell-6-col,
  .cell-6-col-tablet.cell-6-col-tablet {
    width: calc(75% - 16px); }
    .grid-no-spacing > .cell-6-col, .grid-no-spacing >
    .cell-6-col-tablet.cell-6-col-tablet {
      width: 75%; }
  .cell-7-col,
  .cell-7-col-tablet.cell-7-col-tablet {
    width: calc(87.5% - 16px); }
    .grid-no-spacing > .cell-7-col, .grid-no-spacing >
    .cell-7-col-tablet.cell-7-col-tablet {
      width: 87.5%; }
  .cell-8-col,
  .cell-8-col-tablet.cell-8-col-tablet {
    width: calc(100% - 16px); }
    .grid-no-spacing > .cell-8-col, .grid-no-spacing >
    .cell-8-col-tablet.cell-8-col-tablet {
      width: 100%; }
  .cell-9-col,
  .cell-9-col-tablet.cell-9-col-tablet {
    width: calc(100% - 16px); }
    .grid-no-spacing > .cell-9-col, .grid-no-spacing >
    .cell-9-col-tablet.cell-9-col-tablet {
      width: 100%; }
  .cell-10-col,
  .cell-10-col-tablet.cell-10-col-tablet {
    width: calc(100% - 16px); }
    .grid-no-spacing > .cell-10-col, .grid-no-spacing >
    .cell-10-col-tablet.cell-10-col-tablet {
      width: 100%; }
  .cell-11-col,
  .cell-11-col-tablet.cell-11-col-tablet {
    width: calc(100% - 16px); }
    .grid-no-spacing > .cell-11-col, .grid-no-spacing >
    .cell-11-col-tablet.cell-11-col-tablet {
      width: 100%; }
  .cell-12-col,
  .cell-12-col-tablet.cell-12-col-tablet {
    width: calc(100% - 16px); }
    .grid-no-spacing > .cell-12-col, .grid-no-spacing >
    .cell-12-col-tablet.cell-12-col-tablet {
      width: 100%; }
  .cell-1-offset,
  .cell-1-offset-tablet.cell-1-offset-tablet {
    margin-left: calc(12.5% + 8px); }
    .grid.grid-no-spacing > .cell-1-offset, .grid.grid-no-spacing >
    .cell-1-offset-tablet.cell-1-offset-tablet {
      margin-left: 12.5%; }
  .cell-2-offset,
  .cell-2-offset-tablet.cell-2-offset-tablet {
    margin-left: calc(25% + 8px); }
    .grid.grid-no-spacing > .cell-2-offset, .grid.grid-no-spacing >
    .cell-2-offset-tablet.cell-2-offset-tablet {
      margin-left: 25%; }
  .cell-3-offset,
  .cell-3-offset-tablet.cell-3-offset-tablet {
    margin-left: calc(37.5% + 8px); }
    .grid.grid-no-spacing > .cell-3-offset, .grid.grid-no-spacing >
    .cell-3-offset-tablet.cell-3-offset-tablet {
      margin-left: 37.5%; }
  .cell-4-offset,
  .cell-4-offset-tablet.cell-4-offset-tablet {
    margin-left: calc(50% + 8px); }
    .grid.grid-no-spacing > .cell-4-offset, .grid.grid-no-spacing >
    .cell-4-offset-tablet.cell-4-offset-tablet {
      margin-left: 50%; }
  .cell-5-offset,
  .cell-5-offset-tablet.cell-5-offset-tablet {
    margin-left: calc(62.5% + 8px); }
    .grid.grid-no-spacing > .cell-5-offset, .grid.grid-no-spacing >
    .cell-5-offset-tablet.cell-5-offset-tablet {
      margin-left: 62.5%; }
  .cell-6-offset,
  .cell-6-offset-tablet.cell-6-offset-tablet {
    margin-left: calc(75% + 8px); }
    .grid.grid-no-spacing > .cell-6-offset, .grid.grid-no-spacing >
    .cell-6-offset-tablet.cell-6-offset-tablet {
      margin-left: 75%; }
  .cell-7-offset,
  .cell-7-offset-tablet.cell-7-offset-tablet {
    margin-left: calc(87.5% + 8px); }
    .grid.grid-no-spacing > .cell-7-offset, .grid.grid-no-spacing >
    .cell-7-offset-tablet.cell-7-offset-tablet {
      margin-left: 87.5%; } }

@media (min-width: 840px) {
  .grid {
    padding: 8px; }
  .grid-cell {
    margin: 8px;
    width: calc(33.33333% - 16px); }
    .grid-no-spacing > .grid-cell {
      width: 33.33333%; }
  .hide-on-desktop {
    display: none !important; }
  .cell-order-on-desktop-1.cell-order-on-desktop-1 {
    order: 1; }
  .cell-order-on-desktop-2.cell-order-on-desktop-2 {
    order: 2; }
  .cell-order-on-desktop-3.cell-order-on-desktop-3 {
    order: 3; }
  .cell-order-on-desktop-4.cell-order-on-desktop-4 {
    order: 4; }
  .cell-order-on-desktop-5.cell-order-on-desktop-5 {
    order: 5; }
  .cell-order-on-desktop-6.cell-order-on-desktop-6 {
    order: 6; }
  .cell-order-on-desktop-7.cell-order-on-desktop-7 {
    order: 7; }
  .cell-order-on-desktop-8.cell-order-on-desktop-8 {
    order: 8; }
  .cell-order-on-desktop-9.cell-order-on-desktop-9 {
    order: 9; }
  .cell-order-on-desktop-10.cell-order-on-desktop-10 {
    order: 10; }
  .cell-order-on-desktop-11.cell-order-on-desktop-11 {
    order: 11; }
  .cell-order-on-desktop-12.cell-order-on-desktop-12 {
    order: 12; }
  .cell-1-col,
  .cell-1-col-desktop.cell-1-col-desktop {
    width: calc(8.33333% - 16px); }
    .grid-no-spacing > .cell-1-col, .grid-no-spacing >
    .cell-1-col-desktop.cell-1-col-desktop {
      width: 8.33333%; }
  .cell-2-col,
  .cell-2-col-desktop.cell-2-col-desktop {
    width: calc(16.66667% - 16px); }
    .grid-no-spacing > .cell-2-col, .grid-no-spacing >
    .cell-2-col-desktop.cell-2-col-desktop {
      width: 16.66667%; }
  .cell-3-col,
  .cell-3-col-desktop.cell-3-col-desktop {
    width: calc(25% - 16px); }
    .grid-no-spacing > .cell-3-col, .grid-no-spacing >
    .cell-3-col-desktop.cell-3-col-desktop {
      width: 25%; }
  .cell-4-col,
  .cell-4-col-desktop.cell-4-col-desktop {
    width: calc(33.33333% - 16px); }
    .grid-no-spacing > .cell-4-col, .grid-no-spacing >
    .cell-4-col-desktop.cell-4-col-desktop {
      width: 33.33333%; }
  .cell-5-col,
  .cell-5-col-desktop.cell-5-col-desktop {
    width: calc(41.66667% - 16px); }
    .grid-no-spacing > .cell-5-col, .grid-no-spacing >
    .cell-5-col-desktop.cell-5-col-desktop {
      width: 41.66667%; }
  .cell-6-col,
  .cell-6-col-desktop.cell-6-col-desktop {
    width: calc(50% - 16px); }
    .grid-no-spacing > .cell-6-col, .grid-no-spacing >
    .cell-6-col-desktop.cell-6-col-desktop {
      width: 50%; }
  .cell-7-col,
  .cell-7-col-desktop.cell-7-col-desktop {
    width: calc(58.33333% - 16px); }
    .grid-no-spacing > .cell-7-col, .grid-no-spacing >
    .cell-7-col-desktop.cell-7-col-desktop {
      width: 58.33333%; }
  .cell-8-col,
  .cell-8-col-desktop.cell-8-col-desktop {
    width: calc(66.66667% - 16px); }
    .grid-no-spacing > .cell-8-col, .grid-no-spacing >
    .cell-8-col-desktop.cell-8-col-desktop {
      width: 66.66667%; }
  .cell-9-col,
  .cell-9-col-desktop.cell-9-col-desktop {
    width: calc(75% - 16px); }
    .grid-no-spacing > .cell-9-col, .grid-no-spacing >
    .cell-9-col-desktop.cell-9-col-desktop {
      width: 75%; }
  .cell-10-col,
  .cell-10-col-desktop.cell-10-col-desktop {
    width: calc(83.33333% - 16px); }
    .grid-no-spacing > .cell-10-col, .grid-no-spacing >
    .cell-10-col-desktop.cell-10-col-desktop {
      width: 83.33333%; }
  .cell-11-col,
  .cell-11-col-desktop.cell-11-col-desktop {
    width: calc(91.66667% - 16px); }
    .grid-no-spacing > .cell-11-col, .grid-no-spacing >
    .cell-11-col-desktop.cell-11-col-desktop {
      width: 91.66667%; }
  .cell-12-col,
  .cell-12-col-desktop.cell-12-col-desktop {
    width: calc(100% - 16px); }
    .grid-no-spacing > .cell-12-col, .grid-no-spacing >
    .cell-12-col-desktop.cell-12-col-desktop {
      width: 100%; }
  .cell-1-offset,
  .cell-1-offset-desktop.cell-1-offset-desktop {
    margin-left: calc(8.33333% + 8px); }
    .grid.grid-no-spacing > .cell-1-offset, .grid.grid-no-spacing >
    .cell-1-offset-desktop.cell-1-offset-desktop {
      margin-left: 8.33333%; }
  .cell-2-offset,
  .cell-2-offset-desktop.cell-2-offset-desktop {
    margin-left: calc(16.66667% + 8px); }
    .grid.grid-no-spacing > .cell-2-offset, .grid.grid-no-spacing >
    .cell-2-offset-desktop.cell-2-offset-desktop {
      margin-left: 16.66667%; }
  .cell-3-offset,
  .cell-3-offset-desktop.cell-3-offset-desktop {
    margin-left: calc(25% + 8px); }
    .grid.grid-no-spacing > .cell-3-offset, .grid.grid-no-spacing >
    .cell-3-offset-desktop.cell-3-offset-desktop {
      margin-left: 25%; }
  .cell-4-offset,
  .cell-4-offset-desktop.cell-4-offset-desktop {
    margin-left: calc(33.33333% + 8px); }
    .grid.grid-no-spacing > .cell-4-offset, .grid.grid-no-spacing >
    .cell-4-offset-desktop.cell-4-offset-desktop {
      margin-left: 33.33333%; }
  .cell-5-offset,
  .cell-5-offset-desktop.cell-5-offset-desktop {
    margin-left: calc(41.66667% + 8px); }
    .grid.grid-no-spacing > .cell-5-offset, .grid.grid-no-spacing >
    .cell-5-offset-desktop.cell-5-offset-desktop {
      margin-left: 41.66667%; }
  .cell-6-offset,
  .cell-6-offset-desktop.cell-6-offset-desktop {
    margin-left: calc(50% + 8px); }
    .grid.grid-no-spacing > .cell-6-offset, .grid.grid-no-spacing >
    .cell-6-offset-desktop.cell-6-offset-desktop {
      margin-left: 50%; }
  .cell-7-offset,
  .cell-7-offset-desktop.cell-7-offset-desktop {
    margin-left: calc(58.33333% + 8px); }
    .grid.grid-no-spacing > .cell-7-offset, .grid.grid-no-spacing >
    .cell-7-offset-desktop.cell-7-offset-desktop {
      margin-left: 58.33333%; }
  .cell-8-offset,
  .cell-8-offset-desktop.cell-8-offset-desktop {
    margin-left: calc(66.66667% + 8px); }
    .grid.grid-no-spacing > .cell-8-offset, .grid.grid-no-spacing >
    .cell-8-offset-desktop.cell-8-offset-desktop {
      margin-left: 66.66667%; }
  .cell-9-offset,
  .cell-9-offset-desktop.cell-9-offset-desktop {
    margin-left: calc(75% + 8px); }
    .grid.grid-no-spacing > .cell-9-offset, .grid.grid-no-spacing >
    .cell-9-offset-desktop.cell-9-offset-desktop {
      margin-left: 75%; }
  .cell-10-offset,
  .cell-10-offset-desktop.cell-10-offset-desktop {
    margin-left: calc(83.33333% + 8px); }
    .grid.grid-no-spacing > .cell-10-offset, .grid.grid-no-spacing >
    .cell-10-offset-desktop.cell-10-offset-desktop {
      margin-left: 83.33333%; }
  .cell-11-offset,
  .cell-11-offset-desktop.cell-11-offset-desktop {
    margin-left: calc(91.66667% + 8px); }
    .grid.grid-no-spacing > .cell-11-offset, .grid.grid-no-spacing >
    .cell-11-offset-desktop.cell-11-offset-desktop {
      margin-left: 91.66667%; } }

/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/* ==========  Color Palettes  ========== */
/* colors.scss */
html, body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;
  opacity: 0.54;
  font-size: 0.6em; }

h1 {
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin-top: 24px;
  margin-bottom: 24px; }

h2 {
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px; }

h3 {
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 24px;
  margin-bottom: 24px; }

h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 24px;
  margin-bottom: 16px; }

h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;
  margin-top: 24px;
  margin-bottom: 16px; }

h6 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin-top: 24px;
  margin-bottom: 16px; }

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  margin-bottom: 16px; }

a {
  color: rgb(255,64,129);
  font-weight: 500; }

mark {
  background-color: #f4ff81; }

dt {
  font-weight: 700; }

address {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  font-style: normal; }

table caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;
  opacity: 0.54; }

ul, ol {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-nowrap {
  white-space: nowrap; }

.text-uppercase {
  text-transform: uppercase; }

.text-lowercase {
  text-transform: lowercase; }

.text-capitalize {
  text-transform: capitalize; }

.font-thin {
  font-weight: 200 !important; }

.font-light {
  font-weight: 300 !important; }

.font-regular {
  font-weight: 400 !important; }

.font-medium {
  font-weight: 500 !important; }

.font-bold {
  font-weight: 700 !important; }

.font-black {
  font-weight: 900 !important; }
