


// display 4
@mixin typo-display-4($colorContrast: false)
{
  font-size: 112px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.04em;

  @if $colorContrast {
    opacity : 0.54;
  }
}

// display 3
@mixin typo-display-3($colorContrast: false)
{
  font-size: 56px;
  font-weight: 400;
  line-height: 1.35;
  letter-spacing: -0.02em;

  @if $colorContrast {
    opacity : 0.54;
  }
}

// display 2
@mixin typo-display-2($colorContrast: false)
{
  font-size: 45px;
  font-weight: 400;
  line-height: 48px;


  @if $colorContrast {
    opacity : 0.54;
  }
}

// display 1
@mixin typo-display-1($colorContrast: false)
{
  font-size: 34px;
  font-weight: 400;
  line-height: 40px;


  @if $colorContrast {
    opacity : 0.54;
  }
}

// headline
@mixin typo-headline($colorContrast: false)
{
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;

  @if $colorContrast {
    opacity : 0.87;
  }
}

// title
@mixin typo-title($colorContrast: false) {

  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.02em;

  @if $colorContrast {
    opacity: 0.87;
  }
}

// sub heading
@mixin typo-subhead($colorContrast: false) {

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;

  @if $colorContrast {
    opacity: 0.87;
  }
}

// body 2
@mixin typo-body-2($colorContrast: false) {

  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;

  @if $colorContrast {
    opacity: 0.87;
  }
}

// body 1
@mixin typo-body-1($colorContrast: false) {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;

  @if $colorContrast {
    opacity: 0.87;
  }
}

// caption 1
@mixin typo-caption($colorContrast: false) {

  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0;

  @if $colorContrast {
    opacity: 0.54;
  }
}

// button
@mixin typo-button($colorContrast: false) {

  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;

  @if $colorContrast {
    opacity: 0.87;
  }
}